#Eclipse
.classpath
.settings/
build
bin/

#Intellij
.idea/
*.iml
*.iws
*.ipr
.idea
out

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.class
/AssociateEvaluationSystem/*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata
*.metadata
.recommenders
*logs/
/Servers/
/target/
/RemoteSystemsTempFiles/
/External Files/

AssociateEvaluationSystem/logs/*

# OS X
*.DS_Store

# Nightwatch
/automation-tests/nightwatch/node_modules/
/automation-tests/nightwatch/reports/
/automation-tests/nightwatch/selenium-debug.log