<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>AES | Create Assessment</title>
<link rel="icon" type="img/png" href="images/favicon_192.png">
<!-- Google icon for trash can -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<!-- Included for mobile scaling -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<link rel="stylesheet"
	href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<link rel="stylesheet"
	href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="css/aesMaterials.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
</head>

<body ng-app="adminApp" ng-controller="ChooseAssessmentCtrl" layout-fill
	ng-cloak>
	<div>
		<ng-include src="'menu.html'" />
	</div>

	<div class="container" id="toastContainer">
		<h2>Default Assessment</h2>
		<div class="well well-sm">
			<table id="defualtAss" class="ui celled table" cellspacing="0"
				width="100%">
				<thead>
					<tr style="border-width: 0px;">
						<th></th>
						<th>Default ID</th>
						<th>Number of Sections</th>
						<th>Number of Questions</th>
						<th>Time Limit</th>
					</tr>
				</thead>
				<tbody>
					<div>
						<tr>
							<td><a><span ng-if="defaultAss.expand"
									ng-click="defaultAss.expand = false"
									class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
								<a><span ng-if="!defaultAss.expand"
									ng-click="defaultAss.expand = true"
									class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
							</td>
							<td>{{defaultAss.assessmentRequestId}}</td>
							<td>{{defaultNumOfSec()}}</td>
							<td>{{defaultTotalNumOfQuestions()}}</td>
							<td>{{defaultAss.timeLimit}}</td>
							<td><i class="fa fa-pencil"></i></td>
						</tr>

						<tr ng-if="defaultAss.expand">
						<tr ng-if="defaultAss.expand">
							<td></td>
							<td></td>
							<td><strong>Section Name</strong></td>
							<td><strong>Question Type</strong></td>
							<td><strong>Questions per Section</strong></td>
						</tr>
						<tr ng-if="defaultAss.expand"
							ng-repeat="cat in defaultAss.categoryRequestList">
							<td></td>
							<td></td>
							<td>{{cat.category.name}}</td>
							<td>{{getQuestionTypeOfCategory(cat)}}</td>
							<td>{{getNumberOfQuestionsInCategory(cat)}}</td>
							
						</tr>
						<tr ng-if=defaultAss.expand">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						</tr>
					</div>
				</tbody>
			</table>
		</div>
	</div>

	<div class="container">
		<h2>Assessment Templates</h2>
		<div class="well well-lg">
		
			<caption>
				<div>
					Order by: <select ng-model="sortorder"
						ng-init="sortorder='name'" >
						<option selected value="name">Name</option>
						<option value="-numSections">Number Of Sections</option>
						<option value="-numQuestions">Number of Questions</option>
						<option value="-timeLimit">Time Limit</option>
					</select> &nbsp; Search: <input type="text" ng-model="assessmentSearch">
				</div>
			</caption>
			
			<table id="allAss" class="ui celled table" cellspacing="0"
				width="100%">
				<thead>
					<tr style="border-width: 0px;">
						<th></th>
						<th>Assessment Name</th>
						<th>Number of Sections</th>
						<th>Number of Questions</th>
						<th>Time Limit</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<div>
						<tr ng-repeat-start="ass in assList | orderBy: sortorder | filter: assessmentSearch track by $index" ng-init="ass.hovered = false"
							ng-mouseenter="ass.hovered = true"
							ng-mouseleave="ass.hovered = false"
							ng-if="ass.assessmentRequestId != assList[defaultIndex].assessmentRequestId">
							<td><a><span
									ng-if="ass.expanded && ass.assessmentRequestId != assList[defaultIndex].assessmentRequestId"
									ng-click="ass.expanded = false;"
									class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
								<a><span
									ng-if="!ass.expanded && ass.assessmentRequestId != assList[defaultIndex].assessmentRequestId"
									ng-click="ass.expanded = true"
									class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
							</td>

							<td>{{ass.name}}</td>
							<td>{{ass.numSections}}</td>
							<td>{{ass.numQuestions}}</td>
							<td>{{ass.timeLimit}}</td>

							<td class="templateOptions" title="Edit"><i
								ng-if="ass.hovered || ass.expanded" class="fa fa-pencil"></i></td>
							<td class="templateOptions" title="Delete"
								ng-click="deleteAssessment(ass.index)"><i
								ng-if="ass.hovered || ass.expanded" class="fa fa-trash"></i></td>
							<td class="templateOptions" title="Set Default"
								ng-click="selectDefault(ass.index)"><i
								ng-if="ass.hovered || ass.expanded" class="fa fa-level-up"></i></td>
						</tr>

						<tr ng-if="ass.expanded">
						<tr ng-if="ass.expanded">
							<td></td>
							<td></td>
							<td><strong>Section Name</strong></td>
							<td><strong>Question Type</strong></td>
							<td><strong>Questions per Section</strong></td>
						</tr>
						<tr ng-if="ass.expanded"
							ng-repeat="cat in ass.categoryRequestList">
							<td></td>
							<td></td>
							<td>{{cat.category.name}}</td>
							<td>{{getQuestionTypeOfCategory(cat)}}</td>
							<td>{{getNumberOfQuestionsInCategory(cat)}}</td>
						</tr>
						<tr ng-if=ass.expanded">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						</tr>



						<tr ng-if="ass.expanded" ng-repeat-end=""></tr>


					</div>
				</tbody>
			</table>
		</div>
	</div>


	<script type="text/javascript"
		src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript"
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	<script type="text/javascript"
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
	<script type="text/javascript"
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
	<script type="text/javascript"
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
	<script type="text/javascript"
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
	<script type="text/javascript"
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
	<script type="text/javascript"
		src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/adminApp.js"></script>


</body>
</html>