<div ng-controller="menuCtrl as mCtrl">
    <md-content class="md-padding">
        <img src="images/revature_logo_250.png" style="padding-left: 10px; padding-top: 10px;">
        <md-nav-bar md-selected-nav-item="mCtrl.currentPage" aria-label="menu">
            <span flex> </span>
            <md-nav-item md-nav-href="viewEmployees" name="overview" layout-align="end end"> Overview </md-nav-item>
            <md-nav-item md-nav-href="#" name="employees" layout-align="end end" ng-click="toggleLeft()"> Employees </md-nav-item>
            <md-nav-item md-nav-href="manageQuestions" name="questions" layout-align="end end"> Questions </md-nav-item>
            <md-nav-item md-nav-href="#" name="assessments" layout-align="end end" ng-click="toggleAss()"> Assessments </md-nav-item>
            <md-nav-item md-nav-href="parser" name="parser" layout-align="end end" > Parser </md-nav-item>
            <md-nav-item md-nav-href="globalSettings" name="globalSettings" layout-align="end end" > Global Settings </md-nav-item>
            <md-nav-item md-nav-href="logout" name="logout" layout-align="end end" "> Logout </md-nav-item>
        </md-nav-bar>
    </md-content>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" style="width:250px;">
        <md-toolbar class="md-warn">
            <h1 class="md-warn md-toolbar-tools">Employee Options</h1>
        </md-toolbar>
        <md-content layout-padding="">
            <md-list-item href="registerEmployee">
                <md-icon md-font-set="material-icons">add</md-icon>
                <h4>Register Employee</h4>
            </md-list-item>
            <md-list-item href="updateEmployee">
                <md-icon md-font-set="material-icons">settings</md-icon>
                <h4>Update Employee</h4>
            </md-list-item>            
        </md-content>
    </md-sidenav>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="ass" style="width:250px;">
        <md-toolbar class="md-warn">
            <h1 class="md-toolbar-tools">Assessment Options</h1>
        </md-toolbar>
        <md-content layout-padding="">
            <md-list-item href="chooseAssessment">
                <md-icon md-font-set="material-icons">description</md-icon>
                <h4>Choose Assessment Template</h4>
            </md-list-item>
            <md-list-item href="createAssessment">
                <md-icon md-font-set="material-icons">add</md-icon>
                <h4>Create New Assessment</h4>
            </md-list-item>

        </md-content>
    </md-sidenav>
</div>

