<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Revature | AES</title>

<link rel="icon" type="img/png" href="images/favicon_192.png">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<!-- included for mobile scaling -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<link rel="stylesheet"
	href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<link rel="stylesheet"
	href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="css/aesMaterials.css">
<link rel="stylesheet" href="css/master.css">


</head>
<body ng-app="adminApp" ng-controller="RegisterEmployeeCtrl">

	<div>
		<ng-include src="'menu.html'" />
	</div>
	<div class="container">
    <form name="employeeForm" class="form-horizontal" ng-submit="register()">
        <legend>Register New Employee</legend>
        <div class="row">
            <label  for="inputFirstName">First Name</label>
            <input class="form-control" id="inputFirstName" type="text" placeholder="first name" ng-model="firstName" required autofocus><br/>

            <label  for="inputLastName">Last Name</label>
            <input class="form-control" id="inputLastName" type="text" placeholder="last name" ng-model="lastName" required><br/>
        
            <label  for="inputEmail">Email Address</label>
            <input name="email" class="form-control" id="inputEmail" type="email" placeholder="email address" ng-model="email"
            ng-change="checkEmail()" required><br/>
        
        <div ng-show="buttonToggle">
            	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red;">
    			Email already registered.
    			</span>
  				</div>
        
         	<label  for="roleSelect">What type of user?</label>
            <select name="role" id="roleSelect" class="form-control" ng-change="checkIfCandidate()"
                    ng-model="roleType" ng-options="item.roleTitle for item in roleTypes" required>
            <option >
            	<!-- role -->
            </option>
            </select> <br/>
        
        <div ng-show="employeeForm.role.$error.required && employeeForm.role.$dirty">
            	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red;">
    			Please choose a user type!
    			</span>
  				</div>
        
        <div ng-show="recruiterSelect">
       <label  for="recruiterSelect">Who is the user's recruiter?</label>
            <select name="recruiter" id="recruiterSelect" class="form-control" 
                    ng-model="recruiter" ng-options="item.firstName + ' ' + item.lastName for item in allRecruiters" ng-required="recruiterSelect">
            <option>
            	<!-- recruiters -->
            </option> 
            </select><br/>
        </div>
        <div ng-show="employeeForm.recruiter.$error.required && employeeForm.recruiter.$dirty">
            	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red;">
    			Please enter a recruiter!
    			</span>
  				</div>
        
        <div ng-show="registerSuccessfulMsg" class="span-creds">
			<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true" style="color:green;">
				Registration Successful!
			</span>
		</div>
		<div ng-show="registerUnsuccessfulMsg" class="span-creds">
			<span class="glyphicon glyphicon-floppy-remove" aria-hidden="true" style="color:red;">
				Error: Registration Unsuccessful !!!
			</span>
		</div>
        
    
            <input id="btn-register-recruit" class="btn btn-primary" type="submit" 
            value="register" ng-click="employeeForm.$setPristine(); resetRegistrationForm()" ng-disabled="employeeForm.$invalid || buttonToggle">
            </div>
    </form>
    
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
   	<script type="text/javascript" src="js/adminApp.js"></script>
	<script type="text/javascript" src="js/controllers/admin/RegisterEmployeeCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/admin/MenuCtrl.js"></script>
</body>
</html>
