<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Revature | AES</title>

<link rel="icon" type="img/png" href="images/favicon_192.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- included for mobile scaling -->
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angularjs/1.1.0/angular-route.js">
    <link rel="stylesheet" href="css/aesMaterials.css">
<link rel="stylesheet" href="css/bigwilliestyle.css">
</head>
<body ng-app="adminApp" ng-controller="UpdateEmployeeCtrl">

<div>
    <ng-include src="'menu.html'" />
</div>
<div class="container">

    <form class="form-revature" ng-submit="update()">
        <div class="row">
        	<h2>Update Employee Information</h2>
        	<p>Leave fields BLANK that you do NOT wish to update (except for employee's current email and password)!</p>
        </div>
       
        <div class="row input-field">
            <label class="sr-only" for="currentEmail">Current Email</label>
            <input class="col-xs-12 col-md-12" id="currentEmail" type="email" placeholder="current email address" ng-model="oldEmail" required autofocus>
        </div>
        <div class="row input-field">
            <label class="sr-only" for="newEmail">New Email</label>
            <input class="col-xs-12 col-md-12" id="newEmail" type="email" placeholder="new email address" ng-model="newEmail">
        </div>
        
        <div class="row input-field">
            <label class="sr-only" for="inputFirstName">First name</label>
            <input class="col-xs-12 col-md-12" id="inputFirstName" type="text" placeholder="First name" ng-model="firstName">
        </div>
        <div class="row input-field">
            <label class="sr-only" for="inputLastName">Last name</label>
            <input class="col-xs-12 col-md-12" id="inputLastName" type="text" placeholder="Last name" ng-model="lastName">
        </div>

        <div class="row input-field">
            <label class="sr-only" for="inputPassword">New Password</label>
            <input class="col-xs-12 col-md-12" id="inputPassword" type="password" placeholder="New Password" ng-model="newPassword">
        </div>
        <div class="row input-field">
            <label class="sr-only" for="inputPassword">Confirm New Password</label>
            <input class="col-xs-12 col-md-12" id="inputPassword" type="password" placeholder="New Password" ng-model="confirmNewPassword">
        </div>
        
        
        <div ng-show = "roleName == 'recruiter'">
        	is Recruiter
        	
        	<!-- Add and remove candidates boxes -->
        	<div class = "subject-info-box-1">
        		<select multiple = "multiple" id = "currentCanidatesBox" class= "form-control" ng-model = "selectedCurrentCanidates" ng-options= "c.firstName + ' ' + c.lastName for c in candidateList"></select>
        	</div>
        	
        	<div class = "subject-info-arrows text-center">
        		<input type = 'button' id = "btnRight" value = '>' class="btn btn-default"/><br/>
        		<input type = 'button' id = "btnLeft" value = '<' class="btn btn-default"/><br/>
        	</div>
        	
        	<div class = "subject-info-box-2">
        		<select multiple = "multiple" id = "newCanidatesBox" class= "form-control"ng-model = "selectedNewCanidates" ng-options="c.firstName + ' ' + c.lastName for c in possibleCandidates"></select>
        	</div>
        	{{selectedCurrentCanidates}}
        	
        </div>
        
        <div ng-show="passNotMatch" class="span-creds">
			!!! New Passwords do NOT match !!!
		</div>
		<div ng-show="passNotEntered" class="span-creds">
			!!! Current Password Missing !!!
		</div>
		<div ng-show="emailNotEntered" class="span-creds">
			!!! Current Email Missing !!!
		</div>
        <div ng-show="userNotFound" class="span-creds">
            !!! This user does not exist !!!
        </div>

        <div class="row">

			<div class="col-md-6">
            	<input id="btn-update" class="btn-revature" type="submit" value="Update">
        	</div>
        	<div class="col-md-6">
    			<div class="alert alert-success" ng-show="updateSuccessful">
			  		<strong>Updated</strong>
				</div>
				<div class="alert alert-danger" ng-show="updateUnsuccessful">
					<strong>Failed To Update</strong>
				</div>
			</div>
        </div>
    </form>
    
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
   	<script type="text/javascript" src="js/adminApp.js"></script>
</body>
</html>
