<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Revature | AES</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<link rel="icon" type="img/png" href="images/favicon_192.png">
<!-- Google icon for trash can -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- included for mobile scaling -->
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/aesMaterials.css">
</head>

<body ng-app="adminApp" ng-controller="EmployeeViewCtrl">
<div>
    <ng-include src="'menu.html'" />
</div>
<div class="container">

	<div class="row">
	
	<table class="table table-striped table-bordered">
		<caption>
			<div>
				Order by:
				<select ng-model="sortorder" ng-init="sortorder='lastName'">
					<option  value="firstName">FirstName</option>
					<option selected value="lastName" >LastName</option>
					<option value="email">Email</option>
					<option value="role.roleTitle">Role</option>
				</select>
				&nbsp;
				Search:
				<input type="text" ng-model="employeeSearch">
			</div>
		</caption>
		<thead>
			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Email</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="employee in employees | orderBy: sortorder | filter: employeeSearch">
				<td>{{employee.firstName}}</td>
				<td>{{employee.lastName}}</td>
				<td>{{employee.email}}</td>
				<td>{{employee.role.roleTitle}}</td>
				<td>
					<button style="font-size:24px" ng-click="deleteEmployee(employee.email)" margin-left:auto;> <i class="fa fa-trash"></i></button>
				</td>
				<td ng-show="{{employee.role.roleTitle!=='candidate'}}">
					<a href="updateEmployee">edit</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	</div>

</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
<script type="text/javascript" src="js/adminApp.js"></script>
</body>
</html>
