<head>
    <meta charset="UTF-8">
    <title>Revature | AES</title>
    <link rel="icon" type="img/png" href="images/favicon_192.png">
    <!-- Google icon for trash can -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Included for mobile scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/aesMaterials.css">
</head>

<body ng-app="adminApp" ng-controller="parserCtrl" ng-cloak>
<div>
    <ng-include src="'menu.html'" />
</div>
<div class="container">
    <label class="control-label">Select File</label>
    <!--<input type='file' accept="text/xml" onchange="openFile(event)">-->
    <div layout="row">
        <input class="ng-hide" id="input-file-id" accept="text/xml" type="file" file-model="myFile">
        <label for="input-file-id" class="md-button md-icon-button">
            <!--<md-icon md-menu-origin class="material-icons" style="color: #FB8C00;"> gesture </md-icon>-->
            <md-icon class="material-icons" style="color: #f00;width:60px;height:60px;"> file_upload </md-icon>
            <md-tooltip class="md-title"> Upload XML File </md-tooltip>
        </label>
        <div ng-if="myFile != undefined">
            <label>{{myFile}}</label>
            <md-button ng-click="extractXml()">Update</md-button>
        </div>
    </div>
    <!--<button type='button' class="btn btn-primary" ng-click='extractXml()'>Parse</button><br>-->
    <p ng-if="error">{{messageError}}</p>
    <br>
    <button ng-if="questions.length != 0" class="btn" ng-click="createQuestions()">Upload</button>
    <table ng-if="questions.length != 0" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Question Text</th>
            <th>Format</th>
            <th>Category</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="question in questions">
            <td>{{question.questionText}}</td>
            <td>{{question.format.formatId + question.format.formatName}}</td>
            <td>{{question.questionCategory[0].categoryId + question.questionCategory[0].name}}</td>
            <td>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Option Text</th>
                        <th>Correct</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="option in question.option">
                        <td>{{option.optionText}}</td>
                        <td>{{option.correct}}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
<script type="text/javascript" src="js/adminApp.js"></script>
<script type="text/javascript" src="js/controllers/admin/xmlParser.js"></script>
</body>

</html>
