<div class="container">

    <!-- TODO safari does not support required field -->
    <form id="form-register-recruit" ng-submit="register()">
        <h2 class="row">Register Canidate</h2>
        <div class="row input-field">
            <label class="sr-only" for="inputFirstName">first name</label>
            <input class="col-xs-12 col-md-12" id="inputFirstName" type="text" placeholder="first name" ng-model="firstName" required autofocus>
        </div>
        <div class="row input-field">
            <label class="sr-only" for="inputLastName">last name</label>
            <input class="col-xs-12 col-md-12" id="inputLastName" type="text" placeholder="last name" ng-model="lastName" required>
        </div>
        <div class="row input-field">
            <label class="sr-only" for="inputEmail">email address</label>
            <input class="col-xs-12 col-md-12" id="inputEmail" type="email" placeholder="email address" ng-model="email" required>
        </div>
        <div class="row">
            <select class="col-xs-6 col-md-6"
                    ng-model="program" 
                    ng-options="option.name for option in options"
                    required>
                <option value="" hidden>
                --Select Program--
                </option>
            </select>
        </div>
        <div class="row">
            <input id="btn-register-recruit" class="btn btn-primary" type="submit" value="register">
        </div>
    </form>
    
</div>