<div>
	<main class="container">
	<div class="row">
	<pre>Click on a question to see all of its details. This may take a bit to load.</pre>
		<div class="col-md-6" style="height: 800px; overflow: auto;">

			<input ng-model="q" id="search" class="form-control" placeholder="Search" ng-keyup="currentPageOverLimit()">
			<select ng-model="pageSize" id="pageSize" class="form-control" ng-click="currentPageOverLimit()">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
			</select>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Question</th>
						<th>Format</th>
						<th>Category</th>
						<th>Id</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="question in qList | filter:q |startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="getQuestion(question)">
						<td>{{question.questionText}}</td>
						<td>{{question.format.formatName}}</td>
						<td>{{question.questionCategory["0"].name}}</td>
						<td>{{question.questionId}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div ng-repeat="question in qList | filter:q as filteredItems"></div>

		<button ng-click="currentPage = 0">
			First Page
		</button>

		<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
			Previous
		</button>

		<div ng-switch="q">
			<span ng-switch-when="0">
				{{currentPage+1}}/{{numberOfPages()}}
			</span>
			<span ng-switch-default>
				{{currentPage+1}}/{{formatNumber(filteredItems.length/pageSize)}}
			</span>
		</div>

		<button ng-disabled="(currentPage >= qList.length/pageSize - 1) || (currentPage >= filteredItems.length/pageSize - 1)" ng-click="currentPage=currentPage+1">
			Next
		</button>






		<div class="col-md-6">
			Question:
			<div>
				<textarea rows="4" cols="50" contenteditable="true"
					style="overflow-y: scroll; resize: none;"
					ng-model="currentQuestion.questionText"></textarea>
			</div>
			
			<div ng-show="isMultiChoiceOption">
			<pre>Radio buttons and check boxes show correct answer.</pre>
				<form>
					<div ng-repeat="option in currentQuestion.option">
						<div>
							<input type="radio" id="msrad" name="correctChoice"
								ng-model="option.correct" ng-checked="checkButton(option)"
								ng-click="multiCorrect(option)">
							<textarea rows="4" cols="50" contenteditable="true"
								style="overflow-y: scroll; resize: none;"
								ng-model="option.optionText"></textarea>
							<br> Option ID: {{option.optionId}}
							<button ng-click="removeOption(option)">Delete</button>
							<br> <br>
						</div>
					</div>
				</form>
				<pre>Input a new option to this text field, then click "Add Option".</pre>
				<br> <input type="text" size="60" ng-model="newOption"></input><br>
				<button ng-click="updateQuestion()">Update</button>
				<button ng-click="addOption(newOption)">Add Option</button>
			</div>
			<div ng-show="isMultiSelectOption">
				<form>
					<div ng-repeat="option in currentQuestion.option">
						<div>
							<input type="checkbox" ng-model="option.correct"
								ng-true-value="1" ng-click="multiSelectCorrect(option)">

							<textarea rows="4" cols="50" contenteditable="true"
								style="overflow-y: scroll; resize: none;"
								ng-model="option.optionText"></textarea>
							<br> Option ID: {{option.optionId}}
							<button ng-click="removeOption(option)">Delete</button>
							<br> <br>
						</div>
					</div>
				</form>
				<pre>Input a new option to this text field, then click "Add Option".</pre>
				<br> <input wrap="" type="text" size="60" ng-model="newOption"></input><br>
				<button ng-click="updateQuestion()">Update</button>
				<button ng-click="addOption(newOption)">Add Option</button>
			</div>
			
			<!-- Both the removeDDOption button and addDragDrop button work, they are just disabled until a way to change the correct order is implemented. -->
			<div ng-show="isDragDrop">
				<div ng-repeat="dragdrop in currentQuestion.dragdrop">
					<div>
						<textarea rows="4" cols="50" contenteditable="true"
							style="overflow-y: scroll; resize: none;"
							ng-model="dragdrop.dragDropText"></textarea>
						<br> Option ID: {{option.optionId}}
						<!-- <button ng-click="removeDDOption(dragdrop)">Delete</button> -->
						<br> <br>
					</div>
				</div>
				<pre>Input a new option to this text field, then click "Add Option".</pre><br>
				<pre>IF THIS IS USED TO ADD AN OPTION, THEN THE CORRECT ORDER MUST BE CHANGED 
				MANUALLY IN THE	DATABASE</pre>
				<br> <input type="text" size="60" ng-model="newDragDrop"></input><br>
				<button ng-click="updateQuestion()">Update</button>
				<!-- <button ng-click="addDragDrop(newDragDrop)">Add Option</button> -->
			</div>
			<div></div>
		</div>
	</div>

	</main>
</div>