<!DOCTYPE html>
<html ng-app="bankApp" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="ISO-8859-1">
	<title>Associate Evaluation System</title>

	<!-- Angular -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="js/adminApp.js"></script>

<link rel="icon" type="img/png" href="images/favicon_192.png">
<!-- Google icon for trash can -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="css/aesMaterials.css">
	
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
<script src="static/js/ngprogress/ngprogress.js"></script>
<script src="static/js/ngprogress/ng-file-upload.js"></script>
<!-- Custom Angular -->
<script type="text/javascript" src="static/js/bankApp.js"></script>
<script type="text/javascript" src="static/js/controllers/bank/masterCtrl.js"></script>
<script type="text/javascript" src="static/js/controllers/bank/categoryCtrl.js"></script>
<script type="text/javascript" src="static/js/controllers/bank/tagCtrl.js"></script>
<script type="text/javascript" src="static/js/controllers/bank/QuestionCtrl.js"></script>
<script type="text/javascript" src="static/js/services/questionBuilderService.js"></script>

	<!-- Bootstrap  -->
	<link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			crossorigin="anonymous">
	<link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
			rel="stylesheet"
			integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
			crossorigin="anonymous">
	<!-- Custom CSS -->
	<link rel="stylesheet"
		  href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css"
		  integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU"
		  crossorigin="anonymous">
	<link href="static/css/trainer.css" rel="stylesheet">
	<link href="static/css/animate.css" rel="stylesheet">
	<!-- ngProgress -->
	<link rel="stylesheet" href="static/css/ngProgress.css">
</head>
<body ng-controller="MasterCtrl">
<div ng-include="templates/misc/bank/header.html"></div>
<div class="container" id="buttons" >
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-sm-3 col-md-3 col-lg-3">
					<div class="box" id="corners">
						<div class="aligncenter">
							<div class="icon"
								 ng-class="{'animated fadeInDown cursor-fix':animated1}"
								 ng-mouseenter="animated1=true" ng-mouseleave="animated1=false"
								 ng-click="addCategories()">
								<i class="fa fa-list-ol fa-5x"></i>
							</div>
							<h4 class="buttonLabels">Add Categories</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3">
					<div class="box">
						<div class="aligncenter">
							<div class="icon"
								 ng-class="{'animated fadeInDown cursor-fix':animated2}"
								 ng-mouseenter="animated2=true" ng-mouseleave="animated2=false"
								 ng-click="addTags()">
								<i class="fa fa-tags fa-5x"></i>
							</div>
							<h4 class="buttonLabels">Add Tags</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3">
					<div class="box">
						<div class="aligncenter">
							<div class="icon"
								 ng-class="{'animated fadeInDown cursor-fix':animated3}"
								 ng-mouseenter="animated3=true" ng-mouseleave="animated3=false"
								 ng-click="modifyQuestions()">
								<i class="fa fa-pencil-square-o fa-5x"></i>
							</div>
							<h4 class="buttonLabels">Modify Questions</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3">
					<div class="box">
						<div class="aligncenter">
							<div class="icon"
								 ng-class="{'animated fadeInDown cursor-fix':animated4}"
								 ng-mouseenter="animated4=true" ng-mouseleave="animated4=false"
								 ng-click="uploadAssessment()">
								<i class="fa fa-upload fa-5x"></i>
							</div>
							<h4 class="buttonLabels">Upload Assessment</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Associate Evaluation System - </strong> {{templateName}}
		</div>
		<div class="panel-body">
			<div ui-view></div>
			<!-- Upload Form -->
		</div>
	</div>
</div>
<!-- /container -->

</body>
</html>
