/* Angular Materials */
md-toolbar {
    padding: 0px 16px;
}

md-radio-button {
    margin-bottom: 0px;
}

md-list-item .md-list-item-inner > md-checkbox, md-list-item > md-checkbox {
    margin-right: 7px;
}

md-input-container {
    margin-bottom: 0px;
}

md-input-container md-select {
    margin-bottom: 22px;
}

md-menu-item md-input-container {
    margin: 10px;
    padding: 0px;
}

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected {
    text-align: center;
    font-weight: bold;
    color: rgba(55, 71, 79, 0.75);
}

md-nav-bar.md-default-theme .md-button._md-nav-button.md-active, md-nav-bar .md-button._md-nav-button.md-active {
    border-bottom: 2px solid rgba(255, 87, 34, 0.75);
    color: rgba(255, 87, 34, 0.75);
    font-size: 1em;
    font-weight: bolder;
}

.md-nav-bar md-nav-ink-bar {
    background: transparent;
}

md-toolbar * {
    font-weight: bold;
}



/* OTHER */
*:focus {
    outline: none;
}

.dataTables_empty {
    display: none;
}

table.dataTable tfoot th {
    text-align: center;
}


.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td {
    text-align: center;
}


/* Toast Message Formatting */
md-toast.md-success-toast-theme div.md-toast-content {
    color: white !important;
    background-color: rgba(251, 140, 0, 0.85) !important;
}

md-toast.md-fail-toast-theme div.md-toast-content {
    color: white !important;
    background-color: rgba(200, 30, 31, 0.85) !important;
}

.toastActionButton {
    color: rgba(55, 71, 79, 0.85) !important;
    background-color: rgba(255, 222, 121, 0.96);
    border-radius: 10px 0 0 10px;
    font-size: 14px;
    font-weight: 700;
}

/* Formatting link hovers */

.assessmentRow:hover {
	color: rgba(255, 87, 34, 0.75);
}
