/* Angular Materials */
md-toolbar {
	padding: 0px 16px;
}

md-radio-button md-input-container {
	margin-bottom: 0px;
}

md-list-item .md-list-item-inner>md-checkbox, md-list-item>md-checkbox {
	margin-right: 7px;
}

md-input-container md-select {
	margin-bottom: 22px;
}

md-menu-item md-input-container {
	margin: 10px;
	padding: 0px;
}

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected,
	md-nav-bar .md-button._md-nav-button.md-unselected {
	text-align: center;
	font-weight: bold;
	color: rgba(55, 71, 79, 0.75);
}

md-nav-bar.md-default-theme .md-button._md-nav-button.md-active,
	md-nav-bar .md-button._md-nav-button.md-active {
	border-bottom: 2px solid rgba(242, 105, 38, 1);
	color: rgba(242, 105, 38, 1);
	font-size: 1em;
	font-weight: bolder;
}

.md-nav-bar md-nav-ink-bar {
	background: transparent;
}

md-toolbar * {
	font-weight: bold;
}

.md-warn {
	background-color: rgba(242, 105, 38, 1) !important;
}

/* OTHER */
*:focus {
	outline: none;
}

.dataTables_empty {
	display: none;
}



.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td table.dataTable tfoot th {
	text-align: center;
}

/* Toast Message Formatting */
md-toast.md-success-toast-theme div.md-toast-content {
	color: white !important;
	background-color: rgba(242, 105, 38, 1) !important;
}

md-toast.md-fail-toast-theme div.md-toast-content {
	color: white !important;
	background-color: rgba(200, 30, 31, 0.85) !important;
}

.toastActionButton {
	color: rgba(55, 71, 79, 0.85) !important;
	background-color: rgba(255, 222, 121, 0.96);
	border-radius: 10px 0 0 10px;
	font-size: 14px;
	font-weight: 700;
}

.templateOptions{
	min-width:30px;
}

/* Formatting link hovers */
.assessmentRow:hover {
	color: rgba(255, 87, 34, 0.75);
}

/* Brought over from materials.css*/
/* body { - */
/* 	-revOrange: #f26a25; */
/* } */

.progressBar {
	padding: 0px;
}

.progressBar span {
	position: relative;
	top: 0px;
	height: 2px;
	display: block;
}

.toastContainer {
	overflow: hidden;
}

.roomList {
	display: none;
}

.selectedBatch {
	background-color: #ddd;
}

.batchRow, rect {
	cursor: pointer;
}

.weekSpan {
	position: relative;
	top: -5px;
}

.batchForm input:disabled {
	border-bottom: 1px solid #ddd;
	text-align: center;
}

md-progress-linear .md-container .md-bar, md-progress-linear .md-container
	{
	height: 2px;
}

.batchForm .layout-row {
	padding: 0px 16px;
}

.md-top {
	position: fixed;
	top: 66px;
}

.md-right {
	position: fixed;
	right: 16px;
}

.md-toast-animating {
	overflow: auto !important;
}

.gradTable.md-table:not (.md-row-select ) td.md-cell:nth-child(n+2):nth-last-child(n+2),
	.gradTable.md-table:not (.md-row-select ) th.md-column:nth-child(n+2):nth-last-child(n+2)
	{
	padding: 0 50px 0 0;
	text-align: center;
	font-size: 1em;
	
}


md-edit-dialog > .md-content md-input-container {
    margin: 0;
    font-size: 13px;
}
md-edit-dialog > .md-content md-input-container input {
    float: none;
}
md-edit-dialog > .md-content md-input-container .md-errors-spacer {
    min-height: auto;
    min-width: auto;
    color: rgba(0, 0, 0, 0.54);
}
md-edit-dialog > .md-content md-input-container .md-errors-spacer .md-char-counter {
    padding: 5px 2px 5px 0;
}
md-edit-dialog > .md-content md-input-container [ng-message] {
    padding: 5px 0 5px 2px;
}


.questionHeader{
	font-weight: bold;
}

.optionId{
	text-align: right;
}

.ng-cloak {
	display: none !important;
}
