<!DOCTYPE html>
<html ng-app="quizApp">
<head>
<meta charset="ISO-8859-1">
<title>Assessment</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../resources/css/cgStyle.css">

</head>
<body>
	<div class="wrap">
		<nav class="navbar">
			<div class="container-fluid">
				<div class="nav-dropdown">
					<button type="button" id="nav-dropdown-btn" data-toggle="dropdown" class="btn btn-lg menu-btn">
						<span class="glyphicon glyphicon-menu-hamburger whiten"></span>
					</button>
					<div class="nav-dropdown-content text-center">
						Quiz Navigation<br> content<br> content<br> content<br> content<br> content<br>
						content<br> content
					</div>
				</div>
				<a class="navbar-brand" href="http://revature.com">Revature Assessment Evaluation System</a>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div ng-controller="quizController">
						<h2 class="h2">Welcome to the test</h2>
						<hr>
						<ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
							boundary-links="true" num-pages="numPages"></ul>
						<br>
						<uib-accordion close-others="oneAtATime">
						<div ng-repeat="q in quiz.questions">
							<div uib-accordion-group class="panel panel-default question-box" is-disabled="true"
								is-open="states[$index].open">
								<uib-accordion-heading>
								<div style="display: inline-block;" ng-click="collapseQuestion($index)">Question {{$index + 1}}</div>
								<i class="pull-right glyphicon"
									ng-class="{'glyphicon-chevron-down glyph-grey': states[$index].open, 'glyphicon-chevron-right glyph-grey': !states[$index].open }"
									ng-click="collapseQuestion($index)" title="Collapsed"> </i> <i
									class="pull-right glyphicon glyphicon-floppy-disk"
									ng-class="{'glyph-blue': states[$index].saved, 'glyph-grey': !states[$index].saved}"
									ng-click="saveQuestion($index)" title="Saved"> </i> <i class="pull-right glyphicon glyphicon-flag"
									ng-class="{'glyph-red': states[$index].flagged, 'glyph-grey': !states[$index].flagged}"
									ng-click="flagQuestion($index)" title="Title"></i> </uib-accordion-heading>

								<div class="panel-body">
									{{q.txtQ}} <br>
									<hr>
									<div ng-show="q.type === 0">Choose one:</div>
									<div ng-show="q.type === 1">Choose as many as applicable:</div>
									<div ng-show="q.type === 2">Drag and drop:</div>
									<div ng-show="q.type === 3">Write your code below:</div>
									<ul ng-show="q.type < 2" class="list-group">
										<li class="list-group-item" ng-repeat="option in q.options">
											<div class="radio" ng-show="q.type === 0">
												<label><input type="radio" name="q{{q.id}}">{{option.txtA}}</label>
											</div>
											<div class="checkbox" ng-show="q.type === 1">
												<label><input type="checkbox" name="q{{q.id}}">{{option.txtA}}</label>
											</div>
										</li>
									</ul>
									{{checkNeedEditor($index)}}
									<div ng-show="q.type === 3">
										<div id="editor{{$index}}" class="editor">{{q.options[0].txtA}}</div>
									</div>
									<div></div>
									<div ng-controller="dragController">
										<ul id="revature" ng-show="q.type === 2" class="list-group" data-as-sortable="board.dragControlListeners"
											data-ng-model="q.options">
											<li data-ng-repeat="option in q.options" class="list-group-item" data-as-sortable-item>
												<div data-as-sortable-item-handle>
													<span class="glyphicon glyphicon-option-vertical"></span>{{option.txtA}}
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<br>
						</div>
						</uib-accordion>
					</div>
				</div>
			</div>
			<div class="row" ng-controller="PaginationDemoCtrl">
				<ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
					boundary-links="true" num-pages="numPages"></ul>
			</div>
		</div>
	</div>

	<script src="../resources/snippets/ace-builds-master/src/ace.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.js"></script>
	<script src="../resources/js/quizJS.js"></script>
	<script src="../resources/js/testData.js"></script>
	<script src="../resources/js/ui-bootstrap-tpls-2.3.1.js"></script>
	<script src="../resources/js/lib/ng-sortable.js"></script>
	<script src="../resources/js/app.js"></script>
</body>
</html>