<!DOCTYPE html>
<html ng-app="AesApp">
<head>
<meta charset="ISO-8859-1">
<title>Quiz</title>

<!-- CSS - Bootstrap -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">

<!-- CSS - Custom Ric Styling --> 
	<link rel="stylesheet" type="text/css" href="../resources/css/ricScratchcss.css" />

</head>
<body>
	
  <div id="page-container">
	
	<!-- Revature navbar header -->
	<div class="navbar row">
		
        	<a class="navbar-title" href="http://revature.com">Revature Assessment Evaluation System</a>
    	
    	<button type="button" id="navbarMenuBtn" data-toggle="dropdown" 
				class="btn btn-lg navbar-menu-btn" onclick="openNav()">
				<span class="glyphicon glyphicon-menu-hamburger whiten"></span>
  		</button>
    </div>
	<div class="navbar-overlay-spacing"></div>

	

<div ng-controller="AccordionController">
  <uib-accordion close-others="false">
    <div uib-accordion-group class="panel-default question-box" is-disabled="true" is-open="states[$index].open" ng-repeat="question in questions">
      <uib-accordion-heading>
        <div style="display:inline-block;" ng-click="collapseQuestion($index)">
        	Question {{$index + 1}}
        </div>
        
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': states[$index].open, 'glyphicon-chevron-right': !states[$index].open }" 
        		ng-click="collapseQuestion($index)"></i>
        <i class="pull-right glyphicon glyphicon-floppy-disk" ng-class="{'glyph-grey': states[$index].saved, 'glyph-blue': !states[$index].saved}"
        		ng-click="saveQuestion($index)"></i>
        <i class="pull-right glyphicon glyphicon-flag" ng-class="{'glyph-grey': states[$index].flagged, 'glyph-red': !states[$index].flagged}"
        		ng-click="flagQuestion($index)"></i>
        
      </uib-accordion-heading>
      
      {{question.content}}
    </div uib-accordion-group>
  </uib-accordion>
</div>

   <div style="height:100px;">text</div>
   <div style="height:100px;">text</div>
   <div style="height:100px;">text</div>
   <div style="height:100px;">text</div>
   <div style="height:100px;">text</div>
   <div style="height:100px;">text</div>
   <div style="height:100px;">text</div>
   <div style="height:100px;">text</div>
   <div style="height:100px;">text</div>
   <div style="height:100px;">text</div>
   <div style="height:100px;">text</div>
   <div style="height:100px;">text</div>
   <div style="height:100px;">text</div>
   <div style="height:100px;">text</div>
  
  
<!-- Revature button -->
	<a class="Orange-read-btn" href="../revaturepro">GO TO REVATURE BOOTCAMP</a>
  
  </div>

  <div id="sidenav" class="sidenav">
  		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  		
  		<a href="#">About</a>
  		<a href="#">Services</a>
  		<a href="#">Clients</a>
  		<a href="#">Contact</a>
  		
  		<div ng-controller="QuizNavController">
  			<h3>Quiz Navigation</h3>
  			<table class="nav-table">
  				<tr ng-repeat="i in array"  ng-init="index = i*5">
             		<td ng-repeat="state in states.slice(index,index+5)">
             				<i class="text-center glyphicon glyphicon-floppy-disk" 
             				   ng-class="{'glyph-grey': states.saved, 'glyph-blue': !states.saved}">
             				</i><br>{{state.id+1}}</td>
         		</tr>
  			</table>
  		</div>
	</div>
	
<!-- JavaScript Stuff goes here ------------------------------------------------ -->
<!-- Angular Libraries --> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <script type="text/javascript" src="../resources/js/ui-bootstrap-tpls-2.3.1.js"></script>
 
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
	crossorigin="anonymous"></script>

<!-- Ric's Custom JS -->
<script type="text/javascript" src="../resources/js/ricScratchjs.js"></script>
</body>
</html>