<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Quiz</title>

<!-- CSS - Bootstrap -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">

<!-- CSS - Custom Ric Styling --> 
	<link rel="stylesheet" type="text/css" href="../resources/css/ricScratchcss.css" />

</head>
<body ng-app="AesApp">

  <!-- Revature navbar header -->
  <nav class="navbar">
    <div class="container-fluid">
        <div class="nav-dropdown">
  			<button type="button" id="nav-dropdown-btn" data-toggle="dropdown" 
  					class="btn btn-lg menu-btn">
  				<span class="glyphicon glyphicon-menu-hamburger whiten"></span>
  			</button>
  			<div class="nav-dropdown-content text-center">
    			Quiz Navigation<br>
    			content<br>
    			content<br>
    			content<br>
    			content<br>
    			content<br>
    			content<br>
    			content
  			</div>
		</div>
        <a class="navbar-brand" href="http://revature.com">Revature Assessment Evaluation System</a>
      </div>
    </div>
  </nav>


  <div style="height:100px;"></div>
  
  

<div ng-controller="AccordionController">
  <uib-accordion close-others="false">
    <div uib-accordion-group class="panel-default question-box" is-disabled="true" is-open="states[$index].open" ng-repeat="question in questions">
      <uib-accordion-heading>
        {{question.title}} 
        
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': states[$index].open, 'glyphicon-chevron-right': !states[$index].open }" 
        		ng-click="collapseQuestion($index)"></i>
        
        <i class="pull-right glyphicon glyphicon-floppy-disk" ng-class="{'glyph-grey': states[$index].saved, 'glyph-blue': !states[$index].saved}"
        		ng-click="saveQuestion($index)"></i>
        <i class="pull-right glyphicon glyphicon-flag" ng-class="{'glyph-grey': states[$index].flagged, 'glyph-red': !states[$index].flagged}"
        		ng-click="flagQuestion($index)"></i>
        
      </uib-accordion-heading>
      
      {{question.content}}
    </div uib-accordion-group>
  </uib-accordion>
</div>

  
  
  
<!-- Revature button -->
  <a class="Orange-read-btn" href="../revaturepro">GO TO REVATURE BOOTCAMP</a>
  
<!-- JavaScript Stuff goes here ------------------------------------------------ -->
<!-- Angular Libraries --> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <script type="text/javascript" src="../resources/js/ui-bootstrap-tpls-2.3.1.js"></script>
 
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
	crossorigin="anonymous"></script>

<!-- Ric's Custom JS -->
<script type="text/javascript" src="../resources/js/ricScratchjs.js"></script>
</body>
</html>