<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:repository="http://www.springframework.org/schema/data/repository"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/data/repository http://www.springframework.org/schema/data/repository/spring-repository-1.11.xsd">
		
	<mvc:annotation-driven/>
	<context:component-scan base-package="com.revature.aes"/>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
  <!--  this the old legacy way
  reference http://www.baeldung.com/spring-mvc-static-resources and https://spring.io/blog/2014/07/24/spring-framework-4-1-handling-static-web-resources
   -->	
   <mvc:resources location="/resources/" mapping="/resources/**"></mvc:resources> 
	<!-- Enable Transactions -->
	<tx:annotation-driven/>
	
		<!-- Define Our DataSource -->
	<bean id="mydataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
			<property name="jndiName" value="java:comp/env/jdbc/MyDB"/>
	</bean>
	
	<!-- Because we can use Hibernate  -->
	<bean id="hibernateJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"></bean>
	
	<!--  Spring Data doesn't support Hibernate. But it does support JPA -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	
		<property name="dataSource" ref="mydataSource"></property>
			<property name="packagesToScan" value="com.revature.aes.beans"></property>
			<property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter"></property>
			<property name="jpaProperties">
				<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.use_sql_comments">true</prop>
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
				</props>
			</property>
	</bean>
	
	<!-- TX is cool. Don't step on me? -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"></property>
	</bean>
	
	  
    <!-- Find JPA Repositories -->
    <jpa:repositories base-package="com.revature.aes.daos"/>
	
</beans>
