<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AES</title>

<link rel="icon" type="img/png" href="images/favicon_192.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- included for mobile scaling -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/bigwilliestyle.css">
</head>
<body ng-app="AESCoreApp" ng-controller="CandidateCtrl">


<div class="container">

	<div class="container logo">
		<a href="../login/index.html">
			<img src="images/Revature-Logo.png" alt="Revature" height="75px">
		</a>
	</div>

    <div >
		<span class="col-md-4">
			<a href="updateCredentials">update my information</a>
		</span>
        <span class="col-md-4">
			<a href="view">view candidates</a>
		</span>
        <span class="col-md-4">
			<button id="logout" class="btn-revature" ng-click="logout()">logout</button>
		</span>
    </div>

    <form class="form-revature" ng-submit="register()">
        <h2 class="row">register candidate</h2>
        <div class="row input-field">
            <label class="sr-only" for="inputFirstName">first name</label>
            <input class="col-xs-12 col-md-12" id="inputFirstName" type="text" placeholder="first name" ng-model="firstName" required autofocus>
        </div>
        <div class="row input-field">
            <label class="sr-only" for="inputLastName">last name</label>
            <input class="col-xs-12 col-md-12" id="inputLastName" type="text" placeholder="last name" ng-model="lastName" required>
        </div>
        <div class="row input-field">
            <label class="sr-only" for="inputEmail">email address</label>
            <input class="col-xs-12 col-md-12" id="inputEmail" type="email" placeholder="email address" ng-model="email" required>
        </div>
        
        <div ng-show="registerSuccessfulMsg" class="span-creds">
			<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true" style="color:green;">
				Candidate Registered Successfully
			</span>
		</div>
		<div ng-show="registerUnsuccessfulMsg" class="span-creds">
			<span class="glyphicon glyphicon-floppy-remove" aria-hidden="true" style="color:red;">
				Error: Registration Unsuccessful !!!
			</span>
		</div>
        
        <div class="row">
            <input id="btn-register-recruit" class="btn-revature" type="submit" value="register">
        </div>
    </form>
    
</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js"></script>
   	<script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/CandidateCtrl.js"></script>
</body>
</html>