<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AES | Recruiters</title>
    <link rel="icon" type="img/png" href="images/favicon_192.png">
    <!-- Google icon for trash can -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Included for mobile scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/bigwilliestyle.css">
    <link rel="stylesheet" href="css/aesMaterials.css">
</head>
<body ng-app="userApp" ng-controller="CandidateCtrl" ng-cloak>
<div id="toastContainer">
    <div>
        <ng-include src="'recruitMenu.html'" />
    </div>
    <div class="container">
 			  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <form class="form-horizontal" role="form" class="form-revature" ng-submit="register()">
          <!-- Form Name -->
          <legend>Register Candidate</legend>

          <!-- Text input-->
            <div class="col-sm-12">
              <label for="inputFirstName">First Name</label>
              <input type="text" name="fistName" placeholder="First Name" class="form-control" id="inputFirstName" type="text" placeholder="first name" ng-model="firstName" required autofocus><br/>
              <label for="inputFirstName">Last Name</label>
              <input type="text" name="lastName" placeholder="Last Name" class="form-control" id="inputLastName" type="text" placeholder="last name" ng-model="lastName" required><br/>
              <label for="inputFirstName">Email</label>  
              <input type="text" name="email" placeholder="Email" class="form-control" id="inputEmail" type="email" placeholder="email address" ng-model="email" ng-change="checkEmail()" required><br/>
           	 
                      <div ng-show="buttonToggle">
            	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red;">
    			Email already registered.
    			</span>
            </div>

            <div ng-show="registerSuccessfulMsg" class="span-creds">
                    <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true" style="color:green;">
                Candidate Registered Successfully
            </span>
            </div>
            <div ng-show="registerUnsuccessfulMsg" class="span-creds">
                    <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true" style="color:red;">
                Error: Registration Unsuccessful !!!
            </span>
            </div>
            <br />
             <input id="btn-register-recruit" class="btn btn-primary" type="submit" value="register" ng-click="candidateForm.$setPristine(); resetRegistrationForm()" ng-disabled="candidateForm.$invalid || buttonToggle">
             </div>       
         </form>   
    </div>
</div>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
<script type="text/javascript" src="js/userApp.js"></script>
<script type="text/javascript" src="js/controllers/user/CandidateCtrl.js"></script>
<script type="text/javascript" src="js/controllers/user/MenuCtrl.js"></script>
</body>
</html>