<div>
	<main class="container"> <!-- <label for="format">Question Format</label> 
			<select ng-model="format" ng-options="format.formatName for format in fList" name="format"
				id="format" ng-change="addAddQuestionButton(1)"></select> --> <!-- <label for="questionText">Question</label> <input type="text"
			ng-model="question.question.questionText" name="questionText"
			id="questionText" placeholder="enter question"
			ng-change="addAddQuestionButton(2)"></input> <label
			for="enterOption">Enter Option</label> <input type="text"
			id="option" name="enterOption" id="enterOption"
			placeholder="Enter Option" ng-model="option.optionText"
			ng-change="addAddQuestionButton(3)"></input> <label
			for="correctAnswer">Correct Answer:</label> <select
			ng-model="option.correct" name="correctAnswer" id="correctAnswer"
			ng-change="addAddQuestionButton(4)">
			<option value=1>"Yes"</option>
			<option value=0>"No"</option>
		</select>
		add option button
		<input type="submit" ng-click="addOption()" class="btn btn-info"
			value="Add Option"></input> <label for="addQuestion">Review
			Question: {{qc.question.questionText}} <span ng-repeat="option in question.multiChoice track by $index"><br>{{option.optionText}}
				Correct: {{option.correct == 1 && "Yes" || "No" }}</span>
		</label> <input type="submit" ng-click="addQuestion()" name="addQuestion"
			id="addQuestion" class="btn btn-info" value="Add Question"
			ng-show="addButton"></input> --> <!-- <ul style="width: 300px; height: 200px; overflow: auto">
			<li ng-repeat="question in qList"><br />{{question.format.formatName}}
				:: {{question.questionText}}</li>
		</ul> -->
	<div class="row">
		<div class="col-md-3">
			<table class="table table-bordered">
			<thead>
				<tr>
					<th>Question</th>
					<th>Format</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="question in qList" ng-click="getQuestion(question)">
					<td>{{question.questionText}}</td>
					<td>{{question.format.formatName}}</td>
				</tr>
			</tbody>
			</table>
		</div>
	
		<div class="col-md-9">
			Question: <div>
				<input type="text" size="60" ng-model="currentQuestion.questionText"></input>
			</div>
		Options: <div ng-repeat="option in currentQuestion.option">
			<div>
				<input type="text" size="60"  ng-model="option.optionText"></input>
			</div>
		</div>
		<div ng-repeat="dragdrop in currentQuestion.dragdrop">	
			<div>
				<input type="text" size="60" ng-model="dragdrop.dragDropText"></input>
				<button ng-click=""
			</div>
		</div>	
		
		<button ng-click="updateQuestion()">shwoop</button>
			
		</div>
	</div>

	<!-- <select ng-model="question"
			ng-options="question.questionText for question in qList"
			name="questionUpdate" id="questionUpdate"
			ng-change="showUpdateQuestion(question)">
			<option value="" />
		</select> --> <!-- <div ng-show=show>
		
				<label for="format">Question Format</label> <select
					ng-model="format"
					ng-options="format.formatName for format in fList" name="format"
					id="format" ng-change="setFormat()"></select>
			
			<label for="questionText">Question</label> <input type="text"
				ng-model="updatedQuestion.questionText"
				placeholder="enter question"></input> <input type="sumbit"
				ng-click="updateQuestion()" class="btn btn-info"
				value="Update Question"></input>
		</div>
		<label for="deleteQuestion">Enter Question ID to delete</label> <input
			type="number" ng-model="deleteme"></input> <input type="submit"
			ng-click="deleteQuestion()" class="btn btn-danger"
			value="Delete Question"></input>
	</main>
</div>
<div>
	<main class="container">
		<div>
			<h3>Edit Questions</h3>
			<ol>
				<li ng-repeat="q in ctrl.qList">
					{{q.questionText}}
				</li>
			</ol>
		</div>
		<div>
			<form>
				<input type="number" ng-model="ctrl.questionBeingUpdated" placeholder="Question #">
				<input type="text" ng-model="ctrl.catList" placeholder="Add Categories">
				<input type="text" ng-model="ctrl.tagList" placeholder="Add Tags">
				<input type="submit" ng-click="ctrl.addCategoriesAndTags()">
			</form>
		</div> --> </main>
</div>