<div>
	<main class="container"> 
	<div class="row">
		<div class="col-md-3">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Question</th>
						<th>Format</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="question in qList" ng-click="getQuestion(question)">
						<td>{{question.questionText}}</td>
						<td>{{question.format.formatName}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-9">
			Question:
			<div>
				<input type="text" size="60" ng-model="currentQuestion.questionText"></input>
			</div>
			<pre>Correct:     Options:</pre>
			<div ng-show="isMultiChoiceOption">
				<form>
				<div ng-repeat="option in currentQuestion.option">
					<div>
						<input type="radio" id="msrad" name="correctChoice" ng-model="option.correct" ng-click="multiCorrect(option)" ng-checked="checkButton(option)">
						<input type="text" size="60" ng-model="option.optionText"></input>
						<button ng-click="removeOption(option)">shweep</button>
					</div>
				</div>
				</form>
				<input type="text" size="60" ng-model="newOption"></input><br>
				<button ng-click="updateQuestion()">shwoop</button>
				<button ng-click="addOption(newOption)">shwip</button>
			</div>
			<div ng-show="isMultiSelectOption">
				<form>
				<div ng-repeat="option in currentQuestion.option">
					<div>
						<input type="checkbox" ng-model="option.correct" ng-true-value="1" ng-click="multiSelectCorrect(option)">
						<input type="text" size="60" ng-model="option.optionText"></input>
						<button ng-click="removeOption(option)">shweep</button>
					</div>
				</div>
				</form>
				<input type="text" size="60" ng-model="newOption"></input><br>
				<button ng-click="updateQuestion()">shwoop</button>
				<button ng-click="addOption(newOption)">shwip</button>
			</div>
			<div ng-show="isDragDrop">
				<div ng-repeat="dragdrop in currentQuestion.dragdrop">
					<div>
						<input type="text" size="60" ng-model="dragdrop.dragDropText"></input>
						<button ng-click="removeDDOption(dragdrop)">shweep</button>
					</div>
				</div>
				<input type="text" size="60" ng-model="newDragDrop"></input><br>
				<button ng-click="updateQuestion()">shwoop</button>
				<button ng-click="addDragDrop(newDragDrop)">shwip</button>
			</div>
			<div>
				<!-- <input type="text" size="60" ng-model="newOption"></input> -->
			</div>
			<!-- <button ng-click="updateQuestion()">shwoop</button>
		<button ng-click="addOption(newOption)">shwip</button> -->
		</div>
	</div>

 </main>
</div>