<div>
	<main class="container"> <!-- <label for="format">Question Format</label> 
			<select ng-model="format" ng-options="format.formatName for format in fList" name="format"
				id="format" ng-change="addAddQuestionButton(1)"></select> --> <!-- <label for="questionText">Question</label> <input type="text"
			ng-model="question.question.questionText" name="questionText"
			id="questionText" placeholder="enter question"
			ng-change="addAddQuestionButton(2)"></input> <label
			for="enterOption">Enter Option</label> <input type="text"
			id="option" name="enterOption" id="enterOption"
			placeholder="Enter Option" ng-model="option.optionText"
			ng-change="addAddQuestionButton(3)"></input> <label
			for="correctAnswer">Correct Answer:</label> <select
			ng-model="option.correct" name="correctAnswer" id="correctAnswer"
			ng-change="addAddQuestionButton(4)">
			<option value=1>"Yes"</option>
			<option value=0>"No"</option>
		</select>
		add option button
		<input type="submit" ng-click="addOption()" class="btn btn-info"
			value="Add Option"></input> <label for="addQuestion">Review
			Question: {{qc.question.questionText}} <span ng-repeat="option in question.multiChoice track by $index"><br>{{option.optionText}}
				Correct: {{option.correct == 1 && "Yes" || "No" }}</span>
		</label> <input type="submit" ng-click="addQuestion()" name="addQuestion"
			id="addQuestion" class="btn btn-info" value="Add Question"
			ng-show="addButton"></input> --> <!-- <ul style="width: 300px; height: 200px; overflow: auto">
			<li ng-repeat="question in qList"><br />{{question.format.formatName}}
				:: {{question.questionText}}</li>
		</ul> -->
	<div class="row">
		<div class="col-md-3">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Question</th>
						<th>Format</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="question in qList" ng-click="getQuestion(question)">
						<td>{{question.questionText}}</td>
						<td>{{question.format.formatName}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-9">
			Question:
			<div>
				<input type="text" size="60" ng-model="currentQuestion.questionText"></input>
			</div>
			<pre>Correct:     Options:</pre>
			<div ng-show="isMultiChoiceOption">
				<form>
				<div ng-repeat="option in currentQuestion.option">
					<div>
						<input type="radio" name="correctColors" ng-model="option.correct" ng-click="multiChoiceCorrect(option.correct)">
						<input type="text" size="60" ng-model="option.optionText"></input>
						<button ng-click="removeOption(option)">shweep</button>
					</div>
				</div>
				</form>
				<input type="text" size="60" ng-model="newOption"></input><br>
				<button ng-click="updateQuestion()">shwoop</button>
				<button ng-click="addOption(newOption)">shwip</button>
			</div>
			<div ng-show="isMultiSelectOption">
				<form>
				<div ng-repeat="option in currentQuestion.option">
					<div>
						<input type="checkbox" ng-model="option.correct" ng-true-value="1" ng-click="multiSelectCorrect(option)">
						<input type="text" size="60" ng-model="option.optionText"></input>
						<button ng-click="removeOption(option)">shweep</button>
					</div>
				</div>
				</form>
				<input type="text" size="60" ng-model="newOption"></input><br>
				<button ng-click="updateQuestion()">shwoop</button>
				<button ng-click="addOption(newOption)">shwip</button>
			</div>
			<div ng-show="isDragDrop">
				<div ng-repeat="dragdrop in currentQuestion.dragdrop">
					<div>
						<input type="text" size="60" ng-model="dragdrop.dragDropText"></input>
						<button ng-click="removeDDOption(dragdrop)">shweep</button>
					</div>
				</div>
				<input type="text" size="60" ng-model="newDragDrop"></input><br>
				<button ng-click="updateQuestion()">shwoop</button>
				<button ng-click="addDragDrop(newDragDrop)">shwip</button>
			</div>
			<div>
				<!-- <input type="text" size="60" ng-model="newOption"></input> -->
			</div>
			<!-- <button ng-click="updateQuestion()">shwoop</button>
		<button ng-click="addOption(newOption)">shwip</button> -->
		</div>
	</div>

 </main>
</div>