@CHARSET "ISO-8859-1";

html, body {
	width: 100%;
	height: 100%;
}

/* Revature Main Orange:           	f26925 */
/* Revature Accent (Darker) Orange: ef5c1e */
/* Revature Main Grey:         		474c55 */
/* Revature Accent (Darker) Grey:   434851 */

/* REVATURE FONT FAMILY */
@font-face {
    font-family: 'futura-heavy';
    src: url('../fonts/ParaType-FuturaPTHeavy.ttf');
}
@font-face {
    font-family: 'futura-heavy-italics';
    src: url('../fonts/ParaType-FuturaPTHeavyOblique.ttf');
}
@font-face {
    font-family: 'futura-book';
    src: url('../fonts/ParaType-FuturaPTBook.ttf');
}
@font-face {
    font-family: 'futura-book-italics';
    src: url('../fonts/ParaType-FuturaPTBookOblique.ttf');
}
@font-face {
    font-family: 'futura-light';
    src: url('../fonts/ParaType-FuturaPTLight.ttf');
}
@font-face {
    font-family: 'futura-light-italics';
    src: url('../fonts/ParaType-FuturaPTLightOblique.ttf');
}
@font-face {
    font-family: 'futura-medium';
    src: url('../fonts/ParaType-FuturaPTMedium.ttf');
}
@font-face {
    font-family: 'futura-medium-italics';
    src: url('../fonts/ParaType-FuturaPTMediumOblique.ttf');
}
@font-face {
    font-family: 'futura-bold';
    src: url('../fonts/ParaType-FuturaPTBold.ttf');
}

/* NAVBAR STYLING */
.navbar {
	font-family: 'futura-heavy';
	background-color: #474C55;
	display: inline-block;
	margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 99;
}
.navbar-title {
}
.navbar-title:link {
	color: #ffffff;
	text-decoration: none;
}
.navbar-title:visited {
	color: #ffffff;
	text-decoration: none;
}
.navbar-title:hover {
	color: #F26925;
	text-decoration: none;
}
.navbar-menu-btn {
	background-color: #474C55;
	float: right;
}
.navbar-menu-btn:focus{outline: none;}
.navbar-overlay-spacing {
	margin-top: 100px;
}

.whiten {
	color: #ffffff;
	font-size: 22px;
}



/* QUESTION CONTENT STYLING */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.accordion-toggle:focus{outline: none;}

.question-box {
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'futura-book';
}

.glyph-grey {
	color: grey;
}
.glyph-red {
	color: red;
}
.glyph-blue {
	color:blue;
}

i {
	padding-right: 10px;
}

/* QUIZ NAVIGATION STYLING */
.nav-table {
	margin: 20px;
	padding: 50px;
	background-color: #e6e7ea;
}

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #474C55; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#page-container {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* BUTTON STYLING */
.Orange-read-btn {
	font-family: 'futura-heavy';
    background-color: #f26925;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 3px solid #f26925;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: 600;
}

/* BUTTON STYLING ON HOVER */
.Orange-read-btn:hover {
	font-family: 'futura-heavy';
	background-color: #fff;
	color: #f26925;
	text-decoration: none;
}
