<!DOCTYPE html>
<html lang="en">
<head>
    <!--for question modal-->
    <link rel="stylesheet" href="css/QuestionModal.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--for question modal-->
<script type="text/javascript" src="js/misc/QuestionModal.js"></script>

<!--for question modal-->
<div id="popup" class="modal-box">
    <header>
        <a href="#" class="js-modal-close close">×</a>
        <h3><a href="http://www.jqueryscript.net/tags.php?/Modal/">Modal</a> Title</h3>
    </header>
    <div class = "modal-body">
        <p>Modal Body</p>
    </div>
    <footer>
        <a href="#" class="js-modal-close">Close Button</a>
    </footer>
</div>
<a class="js-open-modal" href="#" data-modal-id="popup"> Switch Questions </a>

</body>
</html>