@CHARSET "ISO-8859-1";

body {
    font-family: 'futura-pt';
   	font-size: 14px;
   	font-weight: normal;
   	line-height: 20px;
   	word-spacing: 0px;
}


@media (min-width: 768px)
.navbar-wrapper {
    margin-top: 40px;
}
@media only screen and (max-width: 767px)
.navbar-header {
    background: #fff;
    padding: 0;
}
@media only screen and (max-width: 767px)
.navbar-wrapper .navbar {
    padding: 0;
    margin: 0;
}

.rev-menu li {
	list-style: none;
	position: relative;
	padding: 20px 0 0 0;
	margin: 0 12px;
}

@media only screen and (max-width: 1023px) and (min-width: 768px)
.rev-menu li a {
	font-size: 12px !important;
}

.rev-menu li a {
color: #474c55;
    font-size: 14px;
    text-decoration: none;
    font-family: 'futura-pt';
    padding: 0;
    line-height: 30px;
    background-color: initial !important;
    font-weight: bolder;
}

#navbar {
	position: block;
	height: 56.66667px
}

#menu-header-menu {
	float: right;
	display: block;
	list-style-type: none;
	list-stytle-position: outside;
}