<!DOCTYPE html>
<html ng-app="AESapp">
<head>
<meta charset="UTF-8">
<title>AES | Create Assessment</title>

	<!-- Angular -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
	<script src="../js/lib/ng-file-upload.js"></script>
	<!-- Custom Angular -->
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/controllers/quizCreationCtrl.js"></script>
	<!-- Bootstrap  -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link href="../stylesheets/trainer.css" rel="stylesheet">
	<!-- ngProgress -->
	<script src="../js/lib/ngprogress.js"></script>
	<link rel="stylesheet" href="../stylesheets/ngProgress.css">
</head>

<body>

<div ng-include="'header.html'"></div>

<div class="container" ng-controller="CreationCtrl">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>AES</strong> <small>File Upload</small></div>
        <div class="panel-body">

          <!-- Upload Form -->
          <h4>Select CSV or Aiken file from your computer to generate quiz</h4>
            <div class="form-inline">
              <div class="form-group">
                <input type="file" file-model="myFile" name="file" id="js-upload-files">
              </div>
              <button ng-click="uploadFile()" class="btn btn-sm btn-primary" id="js-upload-submit">Upload File</button>
            </div>
            
         <!-- Drop Zone -->  
        <h4>Or drag and drop files below:</h4>
     	<div ngf-select="" 
        ngf-drop="" 
        ng-model="files" 
        class="drop-box" 
        ngf-drag-over-class="{ accept:'dragover', reject:'dragover-err', delay:100}" 
		ngf-multiple="true" ngf-allow-dir="false"
      	>Drag and drop files here or click to upload!</div>
 

<!--           Drop Zone
          <h4>Or drag and drop files below:</h4>
          <div class="drop-box" 
          id="drop-zone" ng-model"files" 
          ngf-drop="" ngf-select="" 
          ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
          ngf-multiple="true" ngf-allow-dir="false"
          >Just drag and drop files here</div> -->


          <!-- Upload Finished -->
          <div class="js-upload-finished">
            <h3>Processed files</h3>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
</body>
</html>