<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="ISO-8859-1">
<title>Associate Evaluation System</title>

	<!-- Angular -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
	<!-- Custom JS -->
	<script type="text/javascript" src="../js/trainerQuestions.js"></script>
	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link href="../stylesheets/trainer.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="../stylesheets/trainer.css" rel="stylesheet">
</head>
<body>
	<div ng-include="'header.html'"></div>

	<main class="container">
	<div ng-controller="FormatController as fc">
		<label for="format">Question Format</label> 
		<select ng-model="fc.format" ng-options="x.formatName for x in fc.fList" name="format"id="format" ng-change="fc.setFormat()"></select>
		<ul class="list-group">
			<li ng-repeat="format in formatList" class="list-group-item"></li>
		</ul>
	</div>
		<div ng-controller="QuestionController as qc">
			<label for="questionText">Question</label> 
			<input type="text" ng-model="qc.question.questionText" name="questionText" id="questionText" placeholder="enter question"></input> 
			<input type="sumbit" ng-click="qc.addQuestion()" class="btn btn-info"value="Add Question"></input>
			<hr>
			<ul>
				<li ng-repeat="x in qc.qList">{{x.questionText}}</li>
			</ul>
			<hr>

			<label for="deleteQuestion">Enter Question ID to delete</label> 
			<input type="number" ng-model="qc.deleteme"></input> 
			<input type="submit" ng-click="qc.deleteQuestion()" class="btn btn-danger" value="Delete Question"></input>
		</div>
	
	</main>
</body>
</html>