<!DOCTYPE html>
<html lang="en" ng-app="tagMod">
<head>
<meta charset="ISO-8859-1">
<title>Associate Evaluation System</title>	
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body ng-controller="tagCtrl as ctrl">

	<main class="container">
		<div>
			<form>
				<input type="text" ng-model="ctrl.newTag.tagName">
				<input type="submit" value="Add" ng-click="ctrl.saveTag()">
			</form>
		</div>
		<div>
			<h3>Tags</h3>
			<ul>
				<li ng-repeat="tag in ctrl.tags">
				{{tag.tagName}}
				</li>
				<p ng-bind="ctrl.newTag.tagName"></p>
			</ul>
		</div>
		<div>
			<form>
				<input type="text" ng-model="ctrl.delTag">
				<input type="submit" value="Remove" ng-click="ctrl.deleteTag()">
			</form>
		</div>
	</main>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script>
<script type ="text/javascript" src="../js/tagController.js"></script>
</body>
</html>