@CHARSET "ISO-8859-1";
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

button{
    margin: -20px -40px; 
    position:relative;
    top:50%; 
    left:50%;
}

span {
  display: inline-block;
  vertical-align: 50%;
  line-height: normal;
}

br {
   display: block;
   margin: 5px 0;
}

input{
    height: 100%;
    line-height: 28px;
    width: 100%;
    border-radius: 8px;
    color: black; 
    background-color: lightgrey;
}

.btn-special{
    color: black; 
    background-color: #FF6600;
    border-radius: 5px;
}

.div-center {
    height: 200px;
    width: 400px;
    background: #FF6600;

    border-radius: 25px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    z-index:100;
}

.slidertext {
    position: absolute;
    left: 35%;
    text-align: left;
    top: 35%;
    color: white;
}

.well-special{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 0px;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: white;
}
.well-mini{
    padding: 19px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: white;
    height: 20px;
}

#navbar {
    float: right;
    margin-top: 50px;
}

button.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #ff9019 0%,
        #ff9819 0%,
        #ff6600);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ff9019),
        color-stop(0.0, #ff9819),
        to(#ff6600));
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ff8d13;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.1),
        inset 0px -1px 0px rgba(255,255,255,0);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.1),
        inset 0px -1px 0px rgba(255,255,255,0);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.1),
        inset 0px -1px 0px rgba(255,255,255,0);
    text-shadow:
        0px -1px 1px rgba(000,000,000,0),
        0px 1px 0px rgba(255,255,255,0);
}